
@font-face {
    font-family: 'Baloo 2 Bold';
    src: url('../font/Baloo2-Bold.woff2') format('woff2');
    font-weight: 700; /* bold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo 2 Default';
    src: url('../font/Baloo2-Regular.woff2') format('woff2');
    font-weight: 400; /* normal */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo 2 SemiBold';
    src: url('../font/Baloo2-SemiBold.woff2') format('woff2');
    font-weight: 600; /* semi-bold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo 2 Medium';
    src: url('../font/Baloo2-Medium.woff2') format('woff2');
    font-weight: 500; /* medium */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo 2 Boldest';
    src: url('../font/Baloo2-ExtraBold.woff2') format('woff2');
    font-weight: 800; /* extra-bold */
    font-style: normal;
    font-display: swap;
}


/*--------------------Default page setup-------------------------*/

:root {
    --ryu-bg: #2d2d2d;
    --ryu-dark: #202020;
    --ryu-blue: #02C5E5FF;
    --ryu-red: #FF5F55FF;
    --ryu-purple: #88418b;
    --ryu-green: #01df4f;

    --bright-grey: #6f6f6f;
    --light-grey: #a2a2a2;

    --win-dark: #393939;
    --win-border: #5e5e5e;
    --win-selected: #282828;

    --lgbt-text: #fdfdfd;
    --lgbt-bg: #333333;
}

* {
    box-sizing:border-box;
}
body {
    background-color: var(--lgbt-bg);
    cursor:default;
    color: var(--lgbt-text);
    width:100%;
    height:100%;
    display:table;
    font-size: 1.1rem;
    font-family: sans-serif;
}
.page_wrap {
    width:100%;
    display:table-cell;
    position:relative;
    height:100vh
}
body,
.page_wrap {
    margin:0;
    padding:0
}
main {
    margin: 0 0 6rem 0; /*Space for header & footer, top - bottom - */ /* 5rem 0 6rem 0 */
}

.loading_overlay { /* transparent overlay darkening the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 500; /* above everything but header */
    background-color: transparent;
}

/*------- default input styles -------*/

.win_dark_input {
    height: 1.8rem;
    font-size: .9rem;
    font-family: sans-serif;
    color: whitesmoke;
    background-color: var(--win-dark);
    border: none;
    border-radius: .3rem;
    padding: .3rem;
    border-bottom: var(--win-border) 2px solid;
    transition: .2s;
}

.win_dark_input:focus-within {
    background-color: var(--win-selected);
    border-bottom: var(--ryu-blue) 2px solid;
    outline: none;
    transition: .2s;
}

.win_dark_check {
    height: 1.6rem;
    width: 1.6rem;
    display: inline-block;
    background-color: var(--ryu-dark); /* set to win-dark when hovered or checked */
    position: absolute;
    border-radius: 0.5rem;
    border: var(--win-dark) 4px solid;
    transition: .2s;
}

.win_dark_check:after {
    content: "";
    position: absolute;
    display: block;
    visibility: hidden; /* set to visible when checked */
    opacity: 0; /* set to 1 when checked */
    transition: opacity .2s;
    left: 31%;
    top: -47%;
    width: 0.6rem;
    height: 1.3rem;
    border: solid var(--ryu-green);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*--------------------Header-------------------------*/

header {
    width:-webkit-fill-available;
    width:-moz-available;
    height: 5rem;
    display:flex;
    position:fixed;
    justify-content:space-between;
    padding: 1rem 2rem 1rem 2rem;
    z-index: 99999; /* above everything */
    background-color: transparent;
    /* backdrop-filter: blur(.5rem) */;
}

.cont_logo_nav {
    display: flex;
    gap: 3rem;
}

.logo-header {
    height: 3rem;
    align-self: center;
    order: 1;
    cursor: pointer;
}

.logo-header > a {
    display: inline-block;
    width: fit-content;
    height: 100%;
}

.logo {
    height: 100%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.4s;
}

.logo-header > a:hover > .logo,
.logo-header > a:focus-within > .logo {
    transform: scale(1.2);
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border-radius: 10rem;
    width: max-content;
    align-self: center;
    order: 2;
}
.navbar a {
    color: whitesmoke;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.02em;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.2s;
}
.navbar a:hover,
.navbar a:focus-within {
    color: var(--ryu-red);
    text-shadow: var(--ryu-red) 0 0 1px;
    transition: 0.2s;
}
.navbar a.active {
    background: var(--ryu-blue);
    color: var(--ryu-dark);
    /* text-shadow: 0 0 2px;*/
    background-size: 150% 150%;
    animation: gradient 15s ease infinite;
    border-radius: 2rem;
}

.navbar a.active:hover {
    color: var(--ryu-dark);
    text-shadow: none;
    transition: 0.2s;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar a:not(.active) {
        display: none;
    }
}

.auth_button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    order: 3;
}

.auth_button > .auth_icon,
.auth_button > .auth_icon {
    background-color: var(--light-grey);
    transition: 0.2s;
}

.auth_button:hover > .auth_icon,
.auth_button:focus-within > .auth_icon {
    background-color: var(--ryu-red);
    transition: 0.2s;
}

.auth_button:active > .auth_icon {
    background-color: var(--ryu-blue);
    transition: 0.2s;
}

.auth_icon {
    width: 1.7rem;
    height: 1.7rem;
}

/*-------------Login-----------------*/

.auth_overlay { /* transparent overlay darkening the screen */
    z-index: 200; /* above everything but header & loading overlay */
}

.auth_form {
    background-color: var(--ryu-dark);
    box-shadow: 0 0 .2rem 0 var(--ryu-dark);
    position: fixed;
    right: .8rem;
    top: 5.5rem;
    border-radius: 1rem;
    z-index: 201; /* above auth_overlay */
    display: none;
    flex-direction: column;

    /* for animation */
    max-height: 0;
    padding: 0 1rem;
    overflow: hidden;
    transition: .2s;
}

.auth_fieldset {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.auth_fieldset > legend {
    font-size: 1.3rem;
    width: 100%;
    padding: .3rem .5rem;
    color: whitesmoke;
    border-bottom: var(--ryu-purple) .3rem solid;
    margin: 0 0 1.2rem 0;
    border-radius: .6rem;
}


.win_input_auth ~ .auth_input_icon_bg {
    height: 2.0rem;
    width: 2.0rem;
    background-color: var(--ryu-red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem 0 0 .3rem;
    border-bottom: var(--win-border) 2px solid;
    cursor: pointer;
    order: 1;
    transition: 0.2s;
}

.win_input_auth:focus-within ~ .auth_input_icon_bg {
    background-color: var(--ryu-blue);
    border-bottom: var(--ryu-blue) 2px solid;
    transition: 0.2s;
}

.auth_input_icon {
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--ryu-dark);
    transition: 0.2s;
}

.auth_input_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

.win_input_auth {
    height: 2.0rem;
    width: 15rem;
    border-radius: 0 .3rem .3rem 0;
    order: 2;
}

.auth_submit_btn {
    background-color: transparent;
    border: var(--ryu-blue) solid 3px;
    border-radius: .5rem;
    display: flex;
    padding: .3rem .7rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.auth_signout_btn {
    border: var(--ryu-red) solid 3px;
}

.auth_submit_btn:hover,
.auth_submit_btn:focus-within {
    background-color: var(--ryu-blue);
    transition: 0.2s;
}

.auth_signout_btn:hover,
.auth_signout_btn:focus-within {
    background-color: var(--ryu-red);
}

.auth_submit_btn > p {
    color: var(--ryu-blue);
    font-weight: bold;
    padding: 0 0.2rem 0 0;
    margin: 0;
    font-family: sans-serif;
    transition: 0.2s;
}

.auth_signout_btn > p {
    color: var(--ryu-red);
}

.auth_submit_btn:hover > p,
.auth_submit_btn:focus-within > p {
    color: var(--win-selected);
    transition: 0.2s;
}

.auth_submit_btn > .auth_submit_icon {
    background-color: var(--ryu-blue);
    transition: 0.2s;
}

.auth_signout_btn > .auth_submit_icon {
    background-color: var(--ryu-red);
}

.auth_submit_btn:hover > .auth_submit_icon,
.auth_submit_btn:focus-within > .auth_submit_icon {
    background-color: var(--win-selected);
    transition: 0.2s;
}

.auth_greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
}

.auth_welcome {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0 0 .5rem;
}

.auth_user {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--ryu-blue);
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
}

.auth_user > .auth_welcome {
    padding: 0;
    color: whitesmoke;
}

.auth_pin {
    position: absolute;
    top: -6rem;
}


/*--------------------Footer-------------------------*/

footer {
    height: 6rem;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: var(--ryu-dark);
    z-index: 9999; /* above everything but header (z-index 99999) */
}

.nav-bottom a {
    font-weight: normal;
    font-size: 1rem;
    transition: 0.2s;
}

.nav-bottom a:hover {
    color: var(--ryu-purple);
    text-shadow: var(--ryu-purple) 0 0 1px;
    transition: 0.2s;
}

/*--------------------Homepage-------------------------*/

.welcome_slide{
    height: 90vh;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, #e83b41, #fd8f00, #fcc81c, #5fc573, #02aed8, #5b5bca);
    background-size: 5000% 1200%;

    backdrop-filter: blur(1rem);

    -webkit-animation: gradientmove 200s ease infinite;
    -moz-animation: gradientmove 200s ease infinite;
    -o-animation: gradientmove 200s ease infinite;
    animation: gradientmove 200s ease infinite;
}

@-webkit-keyframes gradientmove {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientmove {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes gradientmove {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientmove {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


@keyframes colorchange {
    0% {
        background-color: #e83b41;
    }
    16.666% {
        background-color: #fd8f00;
    }
    33.333% {
        background-color: #fcc81c;
    }
    50% {
        background-color: #5fc573;
    }
    66.666% {
        background-color: #02aed8;
    }
    83.333% {
        background-color: #5b5bca;
    }
    100% {
        background-color: #e83b41;
    }
}

.welcome_slide:before {
    content: "";
    position: absolute;
    top: -31rem;
    left: -14rem;
    width: 93%;
    height: 84rem;
    background-color: var(--lgbt-bg);
    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 30" preserveAspectRatio="none"%3E%3Cpath fill="grey" d="M0 30 V12 Q30 17 55 12 T100 11 V30z"/%3E%3C/svg%3E'), linear-gradient(#000 0 0);
    mask-composite: exclude;
    mask-size: 100% 100%;
}


.welcome_slide:after {
    content: "";
    position: absolute;
    bottom: -19rem;
    left: 0;
    width: 100%;
    height: 40rem;
    background-color: var(--lgbt-bg);
    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 30" preserveAspectRatio="none"%3E%3Cpath fill="grey" d="M0 30 V12 Q30 17 55 12 T100 11 V30z"/%3E%3C/svg%3E');
    mask-size: 100% 100%;
}

.welcome_slide_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.heading_start {
    display: flex;
    font-family: "Baloo 2 Boldest";
    line-height: 2.6rem;
    flex-direction: column;
    align-items: flex-start;
    text-wrap: none;
    text-wrap: nowrap;
}

.heading_start .heading_top {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.heading_start .heading_btm {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.welcome_slide_content > img {
    height: 24rem;
    width: 24rem;
}

