/* bold */ /*
@font-face {
    font-family: 'Baloo 2 Bold';
    src: url('../font/Baloo2-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo 2 Bold Fallback';
    src: local(Arial Black);
    size-adjust: 81%;
    ascent-override: 129%;
    descent-override: 61%;
    line-gap-override: 5%;
}
*/

/* normal */
@font-face {
    font-family: 'Baloo 2 Default';
    src: url('../font/Baloo2-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*noinspection CssUnknownProperty*/
@font-face {
    font-family: 'Baloo 2 Default Fallback';
    src: local(Verdana);
    size-adjust: 86%;
    ascent-override: 120%;
    descent-override: 57%;
    line-gap-override: 8%;
}

/* semi-bold */
@font-face {
    font-family: 'Baloo 2 SemiBold';
    src: url('../font/Baloo2-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*noinspection CssUnknownProperty*/
@font-face {
    font-family: 'Baloo 2 SemiBold Fallback';
    src: local(Verdana);
    size-adjust: 88%;
    ascent-override: 120%;
    descent-override: 55%;
    line-gap-override: 5%;
}

/* medium */
@font-face {
    font-family: 'Baloo 2 Medium';
    src: url('../font/Baloo2-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*noinspection CssUnknownProperty*/
@font-face {
    font-family: 'Baloo 2 Medium Fallback';
    src: local(Verdana);
    size-adjust: 87%;
    ascent-override: 120%;
    descent-override: 55%;
    line-gap-override: 8%;
}

/* extra-bold */
@font-face {
    font-family: 'Baloo 2 Boldest';
    src: url('../font/Baloo2-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/*noinspection CssUnknownProperty*/
@font-face {
    font-family: 'Baloo 2 Boldest Fallback';
    src: local(Arial Black);
    size-adjust: 82%;
    ascent-override: 129%;
    descent-override: 58%;
    line-gap-override: 5%;
}


/*--------------------Default page setup-------------------------*/

:root {
    --win-dark: #393939;
    --win-border: #5e5e5e;
    --win-selected: #282828;

    --white-text: #eeeeee;
    --dark-text: #333333;

    --lgbt-text: #eeeeee;
    --lgbt-bg: #333333;

    --lgbt-cal: #2E2E2EFF;
    --lgbt-cal-item: #2d2d2d;

    /*
    --lgbt-text: #333333;
    --lgbt-bg: #eeeeee;
    /**/

    --lgbt-red: #eb3b42;
    --lgbt-orange: #ff9101;
    --lgbt-yellow: #fecb1c;
    --lgbt-green: #60c774;
    --lgbt-blue: #02aeda;
    --lgbt-purple: #5d5ccc;

    --alt-green: #01df4f;
    --alt-blue: #34c2fc;
    --alt-pink: #ffb6ca;
    --alt-pink2: #ed80e2;
    --alt-purple: #be3cad;
}

* {
    box-sizing:border-box;
}
body {
    background-color: var(--lgbt-bg);
    cursor:default;
    color: var(--lgbt-text);
    width:100%;
    height:100%;
    display:table;
    font-size: 1.1rem;
    font-family: sans-serif;
}
.page_wrap {
    width:100%;
    display:table-cell;
    position:relative;
    height:100vh
}
body,
.page_wrap {
    margin:0;
    padding:0
}
main {
    /* margin: 5rem 0 6rem 0; /*Space for header & footer, top - bottom - */ /* 5rem 0 6rem 0 */
}

.loading_overlay { /* transparent overlay darkening the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 500; /* above everything but header */
    background-color: rgba(0, 0, 0, 0.5);
}

/*------- default input styles -------*/

.lgbt_input {
    background-color: transparent;
    color: var(--lgbt-text);
    font-size: 1rem;
    border: .15rem solid var(--win-border);
    border-radius: .4rem;
    padding: .2rem .5rem;
    margin: 0;
    cursor: pointer;
    font-family: "Baloo 2 Default", 'Baloo 2 Default Fallback', sans-serif;
    transition: .2s, height 0ms;
}

.lgbt_input:focus-within,
.lgbt_input:focus-visible {
    border: .15rem solid var(--lgbt-blue);
    box-shadow: inset 0 0 .1rem var(--lgbt-blue);
    outline: none;
    transition: .2s, height 0ms;
}

.lgbt_input:disabled {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--lgbt-text);
    border: .15rem solid var(--win-selected);
    transition: .2s, height 0ms;
    cursor: not-allowed;
}

.win_dark_input {
    height: 1.8rem;
    font-size: .9rem;
    font-family: sans-serif;
    color: var(--lgbt-text);
    background-color: var(--win-dark);
    cursor: pointer;
    border: none;
    border-radius: .3rem;
    padding: .3rem;
    border-bottom: var(--win-border) 2px solid;
    transition: .2s;
}
.win_dark_input:disabled {
    cursor: not-allowed;
}

.win_dark_input:focus-within {
    background-color: var(--win-selected);
    border-bottom: var(--lgbt-blue) 2px solid;
    outline: none;
    transition: .2s;
}

.win_dark_check_label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .1rem 0 .1rem 0;
    cursor: pointer;
    width: fit-content;
    position: relative;
}

.win_dark_check_label > :first-child {
    display: inline-block;
    margin-left: 2rem;
}

.win_dark_check_org {
    position: absolute;
}

.win_dark_check {
    height: 1.6rem;
    width: 1.6rem;
    display: inline-block;
    background-color: var(--lgbt-cal-item); /* set to win-dark when hovered or checked */
    position: absolute;
    border-radius: 0.5rem;
    border: var(--win-border) 3px solid;
    transition: .2s;
}

.win_dark_check_org:checked ~ .win_dark_check {
    background-color: var(--win-border);
    transition: .2s;
}

.win_dark_check_label:hover .win_dark_check,
.win_dark_check_label:focus-within .win_dark_check {
    border: var(--lgbt-blue) 3px solid;
    background-color: var(--lgbt-cal-item);
    transition: .2s;
}

.win_dark_check::after {
    content: "";
    position: absolute;
    display: block;
    visibility: hidden; /* set to visible when checked */
    opacity: 0; /* set to 1 when checked */
    transition: opacity .2s;
    left: 31%;
    top: -33%;
    width: 0.6rem;
    height: 1.3rem;
    border: solid var(--alt-green);
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.win_dark_check_org:checked ~ .win_dark_check::after {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s;
}

.lgbt_button {
    background-color: transparent;
    border: var(--lgbt-blue) .15rem  solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--lgbt-blue);
    border-radius: .7rem;
    text-decoration: none;
    font-family: "Baloo 2 SemiBold", 'Baloo 2 SemiBold Fallback', sans-serif;
    font-size: 1.1rem;
    padding: .2rem .5rem;
    transition: 0.2s;
}
.lgbt_button:hover,
.lgbt_button:focus-within {
    background-color: var(--lgbt-blue);
    border: var(--lgbt-blue) .15rem  solid;
    color: var(--lgbt-bg);
    box-shadow: 0 0 .1rem var(--lgbt-blue);
    transition: 0.2s;
}
.lgbt_button_grey {
    color: var(--lgbt-text);
    border: .15rem solid var(--win-border);
}

.lgbt_button_highlight {
    border: var(--lgbt-blue) .15rem  solid;
}

.lgbt_button_smaller {
    font-size: .8rem;
}

/*--------------------Header-------------------------*/

/* TODO: adjust landscape header & start content */

/*noinspection CssInvalidPropertyValue*/
header {
    width:-webkit-fill-available;
    width:-moz-available;
    max-height: 5rem;
    min-height: 2.8rem;
    display:flex;
    position:fixed;
    justify-content:space-between;
    padding: clamp(0.1rem, 2vh, 1rem) 2rem;
    z-index: 99999; /* above everything */
    background-color: transparent;
    align-items: center;
}
/* blur everything behind the header with a backdrop filter with gradient opacity */
header::after {
    content: "";
    background: linear-gradient(180deg, #3333334a 40%, transparent 100%);
    position: fixed;
    top: -2rem;
    left: 0;
    width: 100%;
    height: 25vh;
    max-height: 9rem;
    mask: linear-gradient(180deg, black 70%, transparent 100%);
    backdrop-filter: blur(.5rem);
    z-index: -9;
    pointer-events: none;
}

.cont_logo_nav {
    display: flex;
    gap: 2rem;
    position: relative;
}

.cont_logo_nav:before,
.cont_logo_nav::after {
    content: "";
    position: absolute;
    left: -15rem;
    width: 49rem;
    min-height: 22.5rem;
    height: 86vh;
    max-height: 24rem;
}

.cont_logo_nav:before {
    top: -18.7rem;
    background-color: var(--lgbt-bg);
    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 14" preserveAspectRatio="none"%3E%3Cpath d="M0,12L0,0L70.438,0L70.438,9.394C64.062,9.74 61.996,10.822 55,12C40.77,14.396 21.5,13.771 0,12Z" style="fill-rule:nonzero;"/%3E%3C/svg%3E');
    mask-size: 100% 100%;
    z-index: -1;
}

/* shadow effect around before element */
.cont_logo_nav::after {
    top: -18.4rem;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 14" preserveAspectRatio="none"%3E%3Cpath d="M0,12L0,0L70.438,0L70.438,9.394C64.062,9.74 61.996,10.822 55,12C40.77,14.396 21.5,13.771 0,12Z" style="fill-rule:nonzero;"/%3E%3C/svg%3E');
    z-index: -2;
    filter: blur(1rem);
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.logo-header {
    align-self: center;
    order: 1;
    cursor: pointer;
}

.logo-header > a {
    display: inline-block;
}

.logo {
    height: 8vh;
    min-height: 2.3rem;
    max-height: 3rem;
    width: auto;
    max-width: 3rem;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.4s;
}

.logo-header > a:hover > .logo,
.logo-header > a:focus-within > .logo {
    transform: scale(1.2);
}

.nav-top {
    align-self: center;
    order: 2;
}
.nav_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: max-content;
    margin: 0;
    padding: 0;
}
.navbar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar a {
    color: var(--lgbt-text);
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.02em;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-size: clamp(.9rem, 4vh, 1.1rem);
    transition: 0.2s;
}
.nav-top a:hover,
.nav-top a:focus-within {
    color: var(--lgbt-orange);
    text-shadow: var(--lgbt-orange) 0 0 1px;
    transition: 0.2s;
}
.navbar a.active {
    background: var(--alt-blue);
    color: var(--lgbt-bg);
    /* text-shadow: 0 0 2px;*/
    border-radius: 2rem;
}

.navbar a.active:hover {
    color: var(--lgbt-bg);
    text-shadow: none;
    transition: 0.2s;
}

.cont_lang {
    background-color: var(--lgbt-bg);
    border-radius: 2rem;
    padding: .4rem .5rem;
    position: relative;
}
.cont_lang::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    z-index: -2;
}

.lang_selection {
    display: flex;
    flex-direction: row;
    gap: .8rem;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lang_option * {
    color: var(--lgbt-text);
    text-decoration: none;
    font-family: 'Baloo 2 Medium', 'Baloo 2 Medium Fallback', sans-serif;
    font-size: clamp(.9rem, 4vh, 1.1rem);
    line-height: 1.1rem;;
    padding: .5rem .7rem;
    border-radius: 2rem;
    display: block;
    transition: 0.2s;
}

.lang_option a {
    cursor: pointer;
}

.lang_option *:hover,
.lang_option *:focus-within {
    background-color: var(--win-selected);
    transition: 0.2s;
}

.lang_option .active {
    outline: var(--lgbt-orange) .15rem solid;
}

@media screen and (max-width: 768px) {
    .cont_logo_nav {
        gap: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .cont_lang {
        padding: 0;
    }

    /* hide lang_option that has child with class active */
    .lang_option:has(.active) {
        display: none;
    }

    .lang_option * {
        background-color: var(--win-selected);
        outline: var(--win-selected) .15rem solid;
    }

    .lang_option *:hover,
    .lang_option *:focus-within {
        outline: var(--lgbt-orange) .15rem solid;
    }

    .cont_logo_nav:before,
    .cont_logo_nav::after {
        width: 63rem;
    }

    header::after {
        content: "";
        background: linear-gradient(180deg, #3333334a 40%, transparent 100%);
        backdrop-filter: none;
    }
}

@media screen and (max-width: 450px) {
    .nav-top a {
        display: none;
    }

    .nav-top a.active {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .cont_logo_nav:before,
    .cont_logo_nav::after {
        left: -21rem;
    }
}

@media screen and (max-width: 350px) {
    .nav-top a.active {
        display: none;
    }
}

/*-------------Login-----------------*/

.auth_overlay { /* transparent overlay darkening the screen */
    display: block;
    z-index: 200; /* above everything but header & loading overlay */
    left: 0;
}

.auth_dialog {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

.auth_form {
    position: fixed;
    background-color: var(--win-selected);
    box-shadow: 0 0 .2rem 0 var(--lgbt-bg);
    border-radius: 1rem;
    z-index: 201; /* above auth_overlay */
    overflow: hidden;
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* for animation */
    max-height: 0;
    transition: .2s;
}

.auth_fieldset {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.auth_fieldset > legend {
    font-size: 1.3rem;
    width: 100%;
    padding: .3rem .5rem;
    color: var(--lgbt-text);
    border-bottom: var(--alt-blue) .3rem solid;
    margin: 0 0 1.2rem 0;
    border-radius: .6rem;
}


.win_input_auth ~ .auth_input_icon_bg {
    height: 2.0rem;
    width: 2.0rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem 0 0 .3rem;
    border-bottom: var(--win-border) 2px solid;
    cursor: pointer;
    order: 1;
    transition: 0.2s;
}

.win_input_auth:focus-within ~ .auth_input_icon_bg {
    background-color: var(--lgbt-blue);
    border-bottom: var(--lgbt-blue) 2px solid;
    transition: 0.2s;
}

.auth_input_icon {
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--lgbt-text);
    transition: 0.2s;
}

.auth_input_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

.win_input_auth {
    height: 2.0rem;
    width: 15rem;
    border-radius: 0 .3rem .3rem 0;
    order: 2;
}

.auth_submit_btn {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: .5rem;
    display: flex;
    padding: .3rem .7rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.auth_signout_btn {
}

.auth_submit_btn:hover,
.auth_submit_btn:focus-within {
    border: 2px solid var(--lgbt-blue);
    transition: 0.2s;
}

.auth_signout_btn:hover,
.auth_signout_btn:focus-within {
}

.auth_submit_btn > p {
    color: var(--lgbt-blue);
    font-weight: bold;
    padding: 0 0.2rem 0 0;
    margin: 0;
    font-family: sans-serif;
    transition: 0.2s;
}

.auth_signout_btn > p {
    color: var(--lgbt-red);
}

.auth_submit_btn > .auth_submit_icon {
    background-color: var(--lgbt-blue);
    transition: 0.2s;
}

.auth_signout_btn > .auth_submit_icon {
    background-color: var(--lgbt-red);
}

.auth_greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
}

.auth_welcome {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0 0 .5rem;
}

.auth_user {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--lgbt-blue);
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
}

.auth_user > .auth_welcome {
    padding: 0;
    color: var(--lgbt-text);
}

.auth_pin {
    position: absolute;
    top: -6rem;
}


/*--------------------Footer-------------------------*/

footer {
    height: 3.9rem;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr;
    background: var(--win-selected);
    z-index: 9999; /* above everything but header (z-index 99999) */
}

.nav-bottom {
    grid-column: 2;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bottom a {
    font-weight: normal;
    font-size: 1rem;
    transition: 0.2s;
}

.nav-bottom a:hover,
.nav-bottom a:focus-within {
    color: var(--lgbt-orange);
    text-shadow: var(--lgbt-orange) 0 0 1px;
    transition: 0.2s;
}

.auth_button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    grid-column: 3;
    justify-self: center;
}

.auth_button > .auth_icon,
.auth_button > .auth_icon {
    background-color: var(--lgbt-text);
    transition: 0.2s;
}

.auth_button:hover > .auth_icon,
.auth_button:focus-within > .auth_icon {
    background-color: var(--alt-blue);
    transition: 0.2s;
}

.auth_button:active > .auth_icon {
    background-color: var(--alt-blue);
    transition: 0.2s;
}

.auth_icon {
    width: 1.4rem;
    height: 1.4rem;
}

/*------------------Default Styles-------------------------*/

.section_header {
    width: min-content;
    height: min-content;
    position: relative;
    margin: 1rem 0 1.5rem;
}

.section_heading {
    font-size: 2rem;
    margin: 0;
    text-wrap: nowrap;
    padding: 0 1rem 0 1rem; /* top right bottom left */
}

.section_header_underline {
    position: absolute;
    width: 100%;
    height: .7rem;
    /*background-image: linear-gradient(120deg, var(--lgbt-red), var(--lgbt-red) 16.66%, var(--lgbt-orange) 16.66%, var(--lgbt-orange) 33.33%, var(--lgbt-yellow) 33.33%, var(--lgbt-yellow) 50%, var(--lgbt-green) 50%, var(--lgbt-green) 66.66%, var(--lgbt-blue) 66.66%, var(--lgbt-blue) 83.33%, var(--lgbt-purple) 83.33%, var(--lgbt-purple));/**/
    background-image: linear-gradient(120deg, var(--lgbt-red), var(--lgbt-orange), var(--lgbt-yellow), var(--lgbt-green), var(--lgbt-blue), var(--lgbt-purple));/**/
    margin: 0;
    padding: 0;
    border-radius: 1rem;
    z-index: -1;
    bottom: -.4rem;
}

section {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: "Baloo 2 Medium", 'Baloo 2 Medium Fallback', sans-serif;
    font-size: 1.1rem;
}

/*--------------------Homepage-------------------------*/

.admin_controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.admin_controls > a {
    text-wrap: nowrap;
}

.welcome_slide{
    height: 100vh;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--lgbt-orange);

    -webkit-animation: colourchange 60s linear infinite;
    -moz-animation: colourchange 60s linear infinite;
    animation: colourchange 60s linear infinite;
}

@-webkit-keyframes colourchange {
    0% {
        background-color: var(--lgbt-orange);
    }
    16.666% {
        background-color: var(--lgbt-yellow);
    }
    33.333% {
        background-color: var(--lgbt-green);
    }
    50% {
        background-color: var(--alt-blue);
    }
    66.666% {
        background-color: var(--alt-purple);
    }
    83.333% {
        background-color: var(--lgbt-red);
    }
    100% {
        background-color: var(--lgbt-orange);
    }
}
@-moz-keyframes colourchange {
    0% {
        background-color: var(--lgbt-orange);
    }
    16.666% {
        background-color: var(--lgbt-yellow);
    }
    33.333% {
        background-color: var(--lgbt-green);
    }
    50% {
        background-color: var(--alt-blue);
    }
    66.666% {
        background-color: var(--alt-purple);
    }
    83.333% {
        background-color: var(--lgbt-red);
    }
    100% {
        background-color: var(--lgbt-orange);
    }
}
@keyframes colourchange {
    0% {
        background-color: var(--lgbt-orange);
    }
    16.666% {
        background-color: var(--lgbt-yellow);
    }
    33.333% {
        background-color: var(--lgbt-green);
    }
    50% {
        background-color: var(--alt-blue);
    }
    66.666% {
        background-color: var(--alt-purple);
    }
    83.333% {
        background-color: var(--lgbt-red);
    }
    100% {
        background-color: var(--lgbt-orange);
    }
}

.welcome_slide::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 35rem;
    height: 15vh;
    max-height: 10rem;
    background-color: var(--lgbt-bg);
    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 22" preserveAspectRatio="none"%3E%3Cg transform="matrix(1,0,0,1,0,-8)"%3E%3Cpath d="M0,30L0,12C20,15.333 38.333,15.333 55,12C71.667,8.667 86.667,8.333 100,11L100,30L0,30Z" style="fill-rule:nonzero;"/%3E%3C/g%3E%3C/svg%3E');
    mask-size: 100% 100%;
    z-index: 2;
}

.welcome_slide_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: fixed;
}

/*
#canvas {
    filter: blur(.3rem);
    transform: scale(1.03) translateZ(1.1rem);
}
*/

.heading_start {
    display: flex;
    font-family: "Baloo 2 Boldest", 'Baloo 2 Boldest Fallback', sans-serif;
    line-height: 2.6rem;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
    order: 2;
    margin: min(1rem, .5vh) 0 0;
    position: relative;
    color: var(--white-text);

    --outline-thickness: 0.06rem;
    --outline-thickness-neg: -0.06rem;
    --outline-color: rgba(0, 0, 0, 0.8);

    text-shadow:
            var(--outline-thickness) var(--outline-thickness) 0 var(--outline-color),
            var(--outline-thickness-neg) var(--outline-thickness) 0 var(--outline-color),
            var(--outline-thickness-neg) var(--outline-thickness-neg) 0 var(--outline-color),
            var(--outline-thickness) var(--outline-thickness-neg) 0 var(--outline-color),
            0 0 .5rem rgb(0, 0, 0);
}

/*
.welcome_slide_content::after,
.heading_start::after {
    --blur-move: -4rem;
    --blur-padding: 8rem;
    content: "";
    background: transparent;
    position: absolute;
    top: var(--blur-move);
    left: var(--blur-move);
    width: calc(100% + var(--blur-padding));
    height: calc(100% + var(--blur-padding));
    backdrop-filter: blur(.5rem);
    z-index: -1;

    /* mask -> transparent edges *//*
    mask: radial-gradient(circle, black 40%, transparent 60%);
}

.heading_start::after {
    --blur-move: -1rem;
    --blur-padding: 2rem;
    filter: blur(1rem);
    mask: none;
}
*/
.heading_start .heading_top {
    font-size: min(4rem, 15vh);
    line-height: min(4.1rem, 15.5vh);
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: .3rem;
}

.heading_start .heading_btm {
    font-size: min(2rem, 10vh);
    line-height: min(2.1rem, 10.5vh);
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: .1rem;
}

.heading_logo {
    max-height: 24rem;
    width: auto;
    height: 50vh;
}

@media screen and (max-width: 768px) {
    .heading_start .heading_top {
        font-size: min(2.2rem, 10vh);
        line-height: min(2.4rem, 11vh);
        text-wrap: wrap;
        letter-spacing: .1rem;
    }

    .heading_start .heading_btm {
        font-size: min(1.5rem, 5vh);
        line-height: min(1.4rem, 4.5vh);
        letter-spacing: 0;
    }

    .heading_logo {
        max-height: 15rem;
        width: auto;
        height: 50vh;
    }
}

.page_content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem 2rem 3rem;
    background-color: var(--lgbt-bg);
    overflow-x: clip;
}

.about_txt_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 75rem;
}

.about_text {
    text-align: justify;
    max-width: 60rem;
    margin: 0;
}

/*--------------------Manage Event Page-------------------------*/

.manage_event_content {
    width: 100vw;
    align-items: center;
}

.manage_event_form {
    padding-top: 1.5rem;
    width: 100%;
    max-width: 45rem;
    height: max-content;
}

.manage_event_form fieldset {
    padding: 1.5rem;
    margin: 0;
    border: none;
    background: var(--lgbt-cal-item);
    border-radius: 2rem;
}

.event_general {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event_time {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.event_detail {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.event_dur {
    width: 2rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.event_detail_location {
    width: 100%;
}

.event_location {
    width: 100%;
}

.event_general .win_dark_check_label {
    margin-top: 1rem;
}

.event_locales {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.event_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 22rem;
}

.event_info > textarea {
    height: 100%;
    resize: vertical;
    max-height: 15rem;
    min-height: 5rem;
}

.form_req_marking {
    color: var(--lgbt-red);
    font-family: "Baloo 2 Boldest", 'Baloo 2 Boldest Fallback', sans-serif;
    line-height: .1rem;
}

.form_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

/*--------------------Calendar Page-------------------------*/

.calendar_container {
    margin: 1rem 0 0 0;
    max-width: 68rem;
    width: 100%;
    position: relative;
}

.calendar_container_compact {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.calendar_container_link {
    margin-top: 2rem;
}

.calendar_list {
    padding: 1rem 1rem 2rem 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color:  var(--lgbt-cal);
    border-radius: 1rem;
    position: relative;
    z-index: 2;
}
.calendar_error {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar_error > p {
    padding: 0;
}

.calendar_small {
    height: 40vh;
    min-height: 20rem;
    overflow-y: auto;
}
.calendar_large {
    height: 70vh;
    overflow-y: auto;
}

.calendar_item_cont {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.calendar_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--lgbt-cal-item);
    transition: .2s;
    position: relative;
}

/* styling for past events */
.calendar_item_past {
    background-color: var(--lgbt-cal);
    transition: .2s;
}
.calendar_item_past *,
.calendar_item_past::after {
    opacity: 0.4;
    transition: .2s;
}

/* pointer cursor for calendar items with expandable description */
.calendar_button {
    cursor: pointer;
}

.calendar_item:hover,
.calendar_item:focus-within {
    background-color: var(--win-selected);
    transition: .2s;
}

.calendar_item:hover *,
.calendar_item:focus-within *,
.calendar_item:focus-within .calendar_item::after {
    opacity: 1;
    transition: .2s;
}


.calendar_item::after {
    /* dividing line */
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--win-border);
    bottom: -1rem;
    left: 10%;
    right: 10%;
    pointer-events: none;
}
.calendar_item_admin .calendar_item::after {
    bottom: -2.7rem;
}

.calendar_item_date {
    min-width: fit-content;
    width: 16%;
    flex-basis: 16%;
}
.calendar_item_date > p {
    margin: 0;
    padding-bottom: .1rem;
}
.calendar_item_day {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: "Baloo 2 SemiBold", 'Baloo 2 SemiBold Fallback', sans-serif;
    color: var(--alt-blue);
    transition: .2s;
}
.calendar_item_past .calendar_item_day {
    color: var(--lgbt-text);
    transition: .2s;
}
.calendar_item_past:hover .calendar_item_day,
.calendar_item_past:focus-within .calendar_item_day {
    color: var(--alt-blue);
    transition: .2s;
}
.calendar_item_month {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-family: "Baloo 2 SemiBold", 'Baloo 2 SemiBold Fallback', sans-serif;
    color: var(--alt-blue);
    transition: .2s;
}
.calendar_item_past .calendar_item_month {
    color: var(--lgbt-text);
    transition: .2s;
}
.calendar_item_past:hover .calendar_item_month,
.calendar_item_past:focus-within .calendar_item_month {
    color: var(--alt-blue);
    transition: .2s;
}
.calendar_item_year {
    font-family: "Baloo 2 Medium", 'Baloo 2 SemiBold Fallback', sans-serif;
    font-size: 1.1rem;
    line-height: 1.2rem;
}

.calendar_item_info
{
    width: 52%;
    flex-basis: 52%;
}
.calendar_item_name {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: "Baloo 2 SemiBold", 'Baloo 2 SemiBold Fallback', sans-serif;
    color: var(--alt-blue);
    margin: 0;
    padding-bottom: .8rem;
    transition: .2s;
}
.calendar_item_past .calendar_item_name {
    color: var(--lgbt-text);
    transition: .2s;
}
.calendar_item_past:hover .calendar_item_name,
.calendar_item_past:focus-within .calendar_item_name {
    color: var(--alt-blue);
    transition: .2s;
}

.calendar_item_desc {
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-family: "Baloo 2 Medium", 'Baloo 2 Medium Fallback', sans-serif;
    padding-bottom: .3rem;
    margin: 0;
    text-align: justify;
}
.calendar_item_desc_ctrl {
    padding: .4rem 0 .4rem 0;
    cursor: pointer;
}
/* credit: https://stackoverflow.com/a/73447722 */
.calendar_item_desc .calendar_item_desc_ctrl {
    transition: margin 150ms ease-out;
}
.calendar_item_desc[open] .calendar_item_desc_ctrl {
    margin-bottom: 10px;
}

.calendar_item_location {
    width: 25%;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.calendar_item_loc_time {
    text-align: right;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: "Baloo 2 SemiBold", 'Baloo 2 SemiBold Fallback', sans-serif;
    margin: 0;
    padding-bottom: .1rem;
}
.calendar_item_loc_name {
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-family: "Baloo 2 Medium", 'Baloo 2 Medium Fallback', sans-serif;
    padding-bottom: .1rem;
    margin: 0;
}


.calendar_item_admin_ctrl {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .29rem;
}

.calendar_item_past + .calendar_item_admin_ctrl {
    opacity: 0.4;
    transition: .2s;
}

.calendar_item_admin_ctrl:has(.calendar_item_admin_cont:hover),
.calendar_item_admin_ctrl:has(.calendar_item_admin_cont:focus-within),
.calendar_item_past:hover + .calendar_item_admin_ctrl,
.calendar_item_past:focus-within + .calendar_item_admin_ctrl {
    opacity: 1;
    transition: .2s;
}

.calendar_item_admin_cont {
    display: flex;
    flex-direction: row;
}

.calendar_item_admin_link {
    background-color: var(--lgbt-cal-item);
    transition: .2s;
    cursor: pointer;
    padding-top: .3rem;
    padding-bottom: .3rem;
}
.cal_admin_left {
    padding-right: 1rem;
    padding-left: 1.5rem;
    border-radius: 2rem 0 0 2rem;
}
.cal_admin_right {
    padding-right: 1.5rem;
    padding-left: 1rem;
    border-radius: 0 2rem 2rem 0;
}
.calendar_item_past .calendar_item_admin_link {
    background-color: var(--lgbt-cal);
}
.calendar_item:hover + .calendar_item_admin_ctrl .calendar_item_admin_link,
.calendar_item:focus-within + .calendar_item_admin_ctrl .calendar_item_admin_link,
.calendar_item_admin_cont:hover .calendar_item_admin_link,
.calendar_item_admin_cont:focus-within .calendar_item_admin_link {
    background-color: var(--win-selected);
}
.calendar_item:hover + .calendar_item_admin_ctrl .calendar_item_admin_link:hover,
.calendar_item:focus-within + .calendar_item_admin_ctrl .calendar_item_admin_link:focus-within,
.calendar_item_admin_ctrl .calendar_item_admin_link:hover,
.calendar_item_admin_ctrl .calendar_item_admin_link:focus-within {
    background-color: var(--alt-blue) !important;
    transition: .2s;
}
.cal_admin_link_icon {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--alt-blue);
    transition: .2s;
}
.calendar_item_admin_link:hover .cal_admin_link_icon,
.calendar_item_admin_link:focus-within .cal_admin_link_icon {
    background-color: var(--lgbt-bg);
    transition: .2s;
}

/* credit: https://stackoverflow.com/a/73447722 */
.ical_options_details .ical_options_toggle {
    transition: margin 150ms ease-out;
}
.ical_options_details[open] .ical_options_toggle {
    margin-bottom: 10px;
}

.ical_options_toggle {
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-family: "Baloo 2 Medium", 'Baloo 2 Medium Fallback', sans-serif;
    padding: .5rem;
    color: var(--alt-blue);
}

.calendar_link_copy_cont {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-evenly;
    margin: 0;
    padding: 1.5rem 0 0 0;
    flex-wrap: wrap;
}

.calendar_link_copy_cont > div {
    display: flex;
    flex-direction: column;
    width: min-content;
    text-wrap: nowrap;
}

.ical_options_header {
    color: var(--lgbt-text);
    text-align: center;
    text-decoration: underline;
}
.calendar_option_controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: "Baloo 2 SemiBold", 'Baloo 2 SemiBold Fallback', sans-serif;
}

.default_calendar_link {
    display: none;
}

.calendar_year_select {
    justify-content: space-between;
    margin-bottom: .5rem;
}

.ical_year_select {
    background-color: var(--lgbt-bg);
}
.ical_year_select:hover {
    background-color: var(--lgbt-bg);
    color: var(--lgbt-blue);
    border: var(--lgbt-blue) .15rem  solid;
}

.ical_options_desc {
    text-wrap: wrap;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2rem;
}

.full_calendar_link {
    position: absolute;
    margin: 0;
    right: 2rem;
    top: -2.3rem;
    z-index: 1;
}
.full_calendar_link a {
    color: var(--alt-blue);
    font-family: "Baloo 2 Medium", 'Baloo 2 Medium Fallback', sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 1.5rem 1.5rem 0 0;
    background-color: var(--lgbt-cal);
    padding: .5rem 1rem 0.2rem 1.5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}
.full_calendar_link a:hover,
.full_calendar_link a:focus-within {
    color: var(--lgbt-bg);
    background-color: var(--lgbt-blue);
    transition: 0.2s;
}
.full_calendar_icon {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--lgbt-blue);
    transition: 0.2s;
}
.full_calendar_link a:hover .full_calendar_icon,
.full_calendar_link a:focus-within .full_calendar_icon {
    background-color: var(--lgbt-bg);
    transition: 0.2s;
}

@media screen and (max-width: 768px) {
    .calendar_item {
        flex-direction: column;
    }

    .calendar_item_date {
        width: 100%;
        flex-basis: 100%;
    }
    .calendar_item_date > p {
        padding-right: .3rem;
    }
    .calendar_item_day {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
    .calendar_item_month {
        display: inline-block;
    }

    .calendar_item_info {
        order: 3;
        width: 100%;
        flex-basis: 100%;
    }
    .calendar_item_name {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .calendar_item_year {
        font-size: 1.0rem;
        line-height: 1.0rem;
    }

    .calendar_item_location {
        order: 2;
        width: 100%;
        flex-basis: 100%;
        align-items: flex-start;
    }

    .calendar_item_desc {
        font-size: .9rem;
        line-height: 1.1rem;
    }

    .calendar_item_loc_name {
        text-align: left;
        font-size: 1.0rem;
        line-height: 1.0rem;
    }
    .calendar_item_loc_time {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .calendar_link_copy_cont {
        gap: 2rem;
    }

    .full_calendar_link {
        right: 0.8rem;
        top: -2.05rem;
    }

    .full_calendar_link a {
        font-size: .9rem;
    }
    .full_calendar_icon {
        width: 1rem;
        height: 1rem;
    }

    .calendar_item_admin_ctrl {
        margin-top: .35rem;
    }

    .cal_admin_link_icon {
        width: 1.2rem;
        height: 1.2rem;
    }
}